.bodytop
{
	margin-top: 140px;
}

.footer {
    left: 0;
   bottom: 0;
   width: 100%;
 }

 .my_centered_buttons { 
 	display: flex; 
 	justify-content: center; 
 	margin-top: 50px;
 }
.buttonn
{
	margin-left: 50px;
 }
